AGENT_CENTER_RUNTIME_URL=http://windows.tentest.cn:8090
AGENT_CENTER_GATEWAY_ENABLED=true
AGENT_CENTER_GATEWAY_BASE_URL=http://macstudio.tentest.cn:8088
AGENT_CENTER_GATEWAY_API_KEY=local-dev-key
AGENT_CENTER_REDIS_URL=redis://windows.tentest.cn:6379
AGENT_CENTER_ES_URL=http://windows.tentest.cn:9200
AGENT_CENTER_CHROMA_URL=http://windows.tentest.cn:8000
AGENT_CENTER_RAG_API_URL=http://windows.tentest.cn:8091
